.n-button {
 height: 100%;
 min-width: 75px;
 box-sizing: border-box;
 padding-left: 10px;
 padding-right: 10px;
 transition: 0.3s;
 font-weight: bold;
 border-radius: 5px;
 font-size: 25px;
 outline: none;
 margin-left: 5px;
 margin-right: 5px;
 background: rgba(0,0,0,0.05);
}
.n-button:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}
.n-menu-button {
 height: 100%;
 min-width: 75px;
 box-sizing: border-box;
 padding-left: 10px;
 padding-right: 10px;
 transition: 0.3s;
 font-weight: bold;
 border-radius: 5px;
 font-size: 25px;
 outline: none;
 margin-left: 5px;
 margin-right: 5px;
}
.n-menu-button:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}
.n-menu-button-pressed {
  background: rgba(255,255,255,0.2);
}
.n-row-button {
 height: 100%;
 width: 100%;
 min-height: 45px;
 box-sizing: border-box;
 padding-left: 10px;
 padding-right: 10px;
 transition: 0.3s;
 font-weight: bold;
 border-radius: 5px;
 outline: none;
 justify-content: center;
 border: 2px solid rgba(0,0,0,0.1);
 background: rgba(255,255,255,1);
 margin-bottom: 5px;
}
.n-row-button:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.1);
}
.n-row-button-no-hover {
 height: 100%;
 width: 100%;
 min-height: 45px;
 box-sizing: border-box;
 padding-left: 10px;
 padding-right: 10px;
 transition: 0.3s;
 font-weight: bold;
 border-radius: 5px;
 outline: none;
 justify-content: center;
 border: 2px solid rgba(0,0,0,0.1);
 background: rgba(255,255,255,1);
 margin-bottom: 5px;
}
.n-content-container {
  background: rgba(0,0,0,0.05);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 30px;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.07);
  margin-bottom: 20px;
}
.row-end-button {
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}